
.headerContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    color:#00008B;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    text-align: center;
}
.address{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.linkdinUrl{
    color:black;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
@media (max-width:576px){
    .linkdinUrl{
        font-size: 14px;
    }
}
